<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sobre Nosotros</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <a class="navbar-brand" href="/#">Sobre Nosotros</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/about">Sobre nosotros <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Menú
            </a>
            <div class="dropdown-menu" style="right: 0; left: unset" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/homepage">Inicio</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/procesos">Procesos</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/practicas">Prácticas</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/about">Sobre nosotros</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <main>
      <div class="row mx-0 my-4">
        <div class="offset-md-1 col-md-10 offset-md-1">
          <p>La guía <b>Project Management Body of Knowledge (PMBOK)</b> es el estándar y referencia mundial para la gestión de proyectos. El PMBOK representa el enfoque <b>tradicional</b>.</p>
          <p>No obstante, en la última década el enfoque ágil, un enfoque alternativo para gestión de proyectos ha ido aumentando su popularidad.  Según una encuesta llevada a cabo en 2017 por el propio Project Management Institute (PMI, organismo que edita el PMBOK), el 71% de las empresas encuestadas aplica metodologías ágiles en sus procesos de gestión de proyectos. Es por ello que el PMBOK ha ido tímidamente incorporando algunas menciones al enfoque ágil, pero lo cierto es que no existe una integración de ambos enfoques.</p>
          <p>En el enfoque ágil existen decenas de propuestas, no existe un estándar equivalente al PMBOK para el enfoque tradicional. Sin embargo, en el DSIC de la UPV (Universidad Politécnica de Valencia) existe una propuesta llamada AgileRoadmap que ofrece un catálogo de prácticas ágiles recogidas de los principales métodos ágiles (<b>Kanban, Lean Development, Scrum y Extreme Programming</b>) sirviendo de referencia en cuanto al conocimiento que hay detrás de los métodos ágiles.</p>
          <p>Desde el punto de vista pragmático ambos enfoques en algunos aspectos son <b>complementarios</b> y en otros son <b>alternativos</b>. Así pues, para quienes gestionan proyectos no es fácil aprovechar ambos enfoques y normalmente se plantea como una elección entre uno u otro.</p>
          <p>En esta web se realiza una adaptación de los 49 procesos del PMBOK a sus prácticas ágiles de AgileRoadmap equivalentes. En la tabla de <a href="/procesos">Procesos PMBOK</a> es posible ver en un simple vistazo las prácticas ágiles complementarias a cada proceso, así como aquellos procesos que no tienen ninguna práctica ágil equivalente y por tanto es necesario realizar siguiendo la definición tradicional.</p>
          <p>La tabla <a href="/practicas">Prácticas Ágiles</a>, ofrece la misma información pero organizada desde la perspectiva de las prácticas ágiles, de forma que con un simple vistazo es posible descubrir todos los procesos PMBOK que se realizan mediante la misma práctica ágil.</p>
          <p>Esta comparativa entre los dos enfoques de gestión de proyectos, persigue proporcionar una guía para adaptar la gestión de proyectos a las necesidades particulares del ámbito de trabajo y del proyecto y de esta forma ser capaces de <b>conciliar y aprovechar lo mejor de cada uno de los enfoques</b>.</p>
        </div>
      </div>
    </main>

    <footer class="footer">
      <div class="container text-center">
        <a href="https://www.linkedin.com/in/clara-vidal-juan-bba283165/" target="_blank">TFG Clara Vidal Juan.</a>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
